/* Empty. Add your own CSS if you like */

.pane{
	background-color: #089de3;
}

.bar{
	background-color: #444 !important;
	border-top: none !important;
	border-bottom: none !important;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.54);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.54);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.54);

}

.title{
	color: #fff !important;
}
 

.bar-stable .button.button-icon{
	background: white !important;
}
.login-input{
	background-color: #444;
	padding: 10px;
	margin-left: 30px;
	margin-right: 30px;
}

.login-input ::-webkit-input-placeholder,
.login-input ::-moz-input-placeholder,
.login-input ::-ms-input-placeholder
{
	color: white;
}

.login-input input:focus,
.login-input input{
	color: #fff !important;
}

.logo{
	display: block;
    margin-left: auto;
    margin-right: auto;
	height: 200px;
	margin-bottom: 20px;
}

.module{
	color: #089de3;
	font-size: 25px;
	text-transform: uppercase;
	margin-bottom: 15px; 
	margin-left: 10px;
}

.room{
	float: left;
	font-style: bold;
	font-size: 20px;
	color: grey;
	margin-left: 10px;
	margin-bottom: 10px;

}

.time{
	float: right;
	font-size: 20px;
	color: grey;
	margin-right: 10px;
	margin-bottom: 10px;

}

.lect{
	color: grey;
	font-size: 20px;
	margin-left: 10px;
}

.spinner svg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50px;
	height: 50px;
	stroke: #4F8EF7;
	fill: #4F8EF7;
}

.login{
	color: #000;
	background-color: #fff;
	border-radius: 100px;
}

.register{
	border-radius: 100px;
}

.padding{
	margin-right: 30px;
	margin-left: 30px;
}

.padding1{
	margin-right: 100px;
	margin-left: 100px;
}
.login:active{
	color: white;
	background-color: #939393;
}

.email{
	border-radius: 100px;
}