/* Empty. Add your own CSS if you like */

.pane{
	background-color: #fff;
}

.bar{
	background-color: #49BA6E !important;
	/*border-top: none !important;
	border-bottom: none !important;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.54);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.54);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.54);*/

}

.title{
	color: #fff !important;
}
 

.bar-stable .button.button-icon{
	background: white !important;
}
.login-input{
	background-color: #fff;
	padding: 5px;
	border: solid #49BA6E 1px;
	box-shadow: none !important;
	margin-left: 30px;
	margin-right: 30px;
}

.login-input ::-webkit-input-placeholder,
.login-input ::-moz-input-placeholder,
.login-input ::-ms-input-placeholder
{
	color: #000;
}

.login-input input:focus,
.login-input input{
	color: #49BA6E !important;
}

.logo{
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 300px;
	/*margin-top: 30px;*/
	margin-bottom: 90px;
}

.module{
	/*color: #089de3;*/
	color: #49BA6E;
	font-size: 25px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 15px; 
	margin-left: 10px;
}

.day{
	color: grey;
	float: right;
	font-size: 20px;

}

.room{
	float: left;
	font-style: bold;
	font-size: 20px;
	color: grey;
	margin-left: 10px;
	margin-bottom: 10px;
	font-weight: 100;

}

.time{
	float: right;
	font-size: 20px;
	color: grey;
	margin-right: 10px;
	margin-bottom: 10px;
	font-weight: 100;

}

.lect{
	color: grey;
	font-size: 20px;
	margin-left: 10px;
	font-weight: 100;
}

.spinner svg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50px;
	height: 50px;
	stroke: #4F8EF7;
	fill: #4F8EF7;
}

.login{
	color: #fff;
	background-color: #49BA6E;
}

.register{
	color: #fff;
}

.padding{
	margin-right: 30px;
	margin-left: 30px;
}

.padding1{
	margin-right: 100px;
	margin-left: 100px;
}
.login:active{
	color: white;
	background-color: #939393;
}

.email{
	border-radius: 100px;
}


.card{
	margin: 20px;
	border: solid #49BA6E 1px;
	box-shadow: none !important;

}

.item{
	margin-top: 20px;
}

